n8n-workflows/check-in.json
{
  "name": "Hospital Check-In",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "check-in",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-checkin-get",
      "name": "Check-In Webhook (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 100],
      "webhookId": "check-in-get"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": \"Use POST to check in. This URL is for API calls, not for opening in a browser.\", \"method\": \"GET\" } }}",
        "options": {}
      },
      "id": "respond-get",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-in",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-checkin",
      "name": "Check-In Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "check-in"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet data = item.body ?? item.data ?? item.json ?? item;\n\nif (typeof data === 'string') {\n  try {\n    data = JSON.parse(data);\n  } catch {\n    data = {};\n  }\n}\n\nconst toVal = (v) => (v != null && String(v).trim() !== '') ? String(v).trim() : null;\nconst google_id = toVal(data.google_id);\nconst email = data.email ? String(data.email).trim() : null;\nconst name = data.name ? String(data.name).trim() : null;\nconst birthday = toVal(data.birthday);\nconst phone = toVal(data.phone);\nconst address = toVal(data.address);\nconst params = [google_id, email, name, birthday, phone, address];\nreturn [{ json: { google_id, email, name, birthday, phone, address, params } }];"
      },
      "id": "extract-body",
      "name": "Extract Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (google_id, email, name, birthday, phone, address)\nVALUES ($1, $2, $3, $4::date, $5, $6)\nON CONFLICT (google_id) DO UPDATE\nSET\n  email    = EXCLUDED.email,\n  name     = EXCLUDED.name,\n  birthday = EXCLUDED.birthday,\n  phone    = EXCLUDED.phone,\n  address  = EXCLUDED.address\nRETURNING *;",
        "additionalFields": {
          "queryParameters": "={{ $json.params }}"
        }
      },
      "id": "create-user",
      "name": "Create/Update User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "user-data",
              "name": "user",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "session-token",
              "name": "sessionToken",
              "value": "={{ $json.id }}-{{$now.toMillis()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [950, 300]
    }
  ],
  "connections": {
    "Check-In Webhook (GET)": {
      "main": [
        [
          {
            "node": "Respond GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-In Webhook": {
      "main": [
        [
          {
            "node": "Extract Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Body": {
      "main": [
        [
          {
            "node": "Create/Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update User": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "1"
}