n8n-workflows/order-status.json
{
  "name": "Get Order Status",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "order-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-status",
      "name": "Order Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "order-status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT o.*, p.name as procedure_name FROM orders o JOIN procedures p ON o.procedure_id = p.id WHERE o.id = $1",
        "additionalFields": {}
      },
      "id": "get-order",
      "name": "Get Order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"order\": $json[0] || null } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Order Status Webhook": {
      "main": [[
        { "node": "Get Order", "type": "main", "index": 0 }
      ]]
    },
    "Get Order": {
      "main": [[
        { "node": "Respond", "type": "main", "index": 0 }
      ]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "1"
}
