n8n-workflows/payment.json
{
  "name": "Payment Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-payment",
      "name": "Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "process-payment"
    },
    {
      "parameters": {
        "operation": "create",
        "amount": "={{ $json.body.amount }}",
        "currency": "usd",
        "paymentMethodId": "={{ $json.body.paymentMethodId }}",
        "additionalFields": {
          "confirmationMethod": "automatic",
          "confirm": true
        }
      },
      "id": "stripe-payment",
      "name": "Process Stripe Payment",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "stripeApi": {
          "id": "stripe-credentials",
          "name": "Stripe API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "payment-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-payment",
      "name": "Payment Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orders SET payment_status = 'paid', payment_intent_id = $1, status = 'paid' WHERE id = $2 RETURNING *",
        "additionalFields": {
          "queryParameters": "={{ [$('Process Stripe Payment').item.json.id, $('Payment Webhook').item.json.body.order_id] }}"
        }
      },
      "id": "update-order",
      "name": "Update Order Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT o.*, u.email, u.name as user_name, p.name as procedure_name FROM orders o JOIN users u ON o.user_id = u.id JOIN procedures p ON o.procedure_id = p.id WHERE o.id = $1",
        "additionalFields": {
          "queryParameters": "={{ [$json.id] }}"
        }
      },
      "id": "get-order-details",
      "name": "Get Order Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $env.EMAIL_WORKFLOW_ID }}",
        "waitForExecution": false
      },
      "id": "trigger-email",
      "name": "Trigger Email Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"order\": $json, \"payment\": { \"status\": \"succeeded\", \"intentId\": $('Process Stripe Payment').item.json.id } } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Payment failed\", \"status\": $('Process Stripe Payment').item.json.status } }}",
        "options": {}
      },
      "id": "respond-failure",
      "name": "Respond Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Payment Webhook": {
      "main": [[
        { "node": "Process Stripe Payment", "type": "main", "index": 0 }
      ]]
    },
    "Process Stripe Payment": {
      "main": [[
        { "node": "Payment Successful?", "type": "main", "index": 0 }
      ]]
    },
    "Payment Successful?": {
      "main": [
        [
          { "node": "Update Order Status", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond Failure", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Order Status": {
      "main": [[
        { "node": "Get Order Details", "type": "main", "index": 0 }
      ]]
    },
    "Get Order Details": {
      "main": [[
        { "node": "Trigger Email Workflow", "type": "main", "index": 0 }
      ]]
    },
    "Trigger Email Workflow": {
      "main": [[
        { "node": "Respond Success", "type": "main", "index": 0 }
      ]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "1"
}
