n8n-workflows/procedure-selection.json
{
  "name": "Procedure Selection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "procedures",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-list",
      "name": "List Procedures",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "list-procedures"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM procedures WHERE is_active = true ORDER BY name",
        "additionalFields": {}
      },
      "id": "get-procedures",
      "name": "Get Procedures",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"procedures\": $input.all().map(p => ({ id: p.json.id, name: p.json.name, description: p.json.description || '', price: Number(p.json.price), duration: p.json.duration_minutes, room: p.json.room_number })) } }}",
        "options": {}
      },
      "id": "respond-list",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "select-procedure",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-select",
      "name": "Select Procedure",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "select-procedure"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM procedures WHERE id = ANY($1::integer[])",
        "additionalFields": {
          "queryParameters": "={{ [$json.procedure_id] }}"
        }
      },
      "id": "get-procedure",
      "name": "Get Procedure Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT generate_order_number() as order_number, generate_queue_number_arr($1) as queue_number",
        "additionalFields": {
          "queryParameters": "={{ [$json.room_number] }}"
        }
      },
      "id": "generate-numbers",
      "name": "Generate Order & Queue Numbers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Select Procedure').first().json;\nconst webhook = raw.body || raw;\nconst procedure = $('Get Procedure Details').first().json;\nconst gen = $('Generate Order & Queue Numbers').first().json;\nconst user_id = Number(webhook.user_id) || null;\nconst procedure_id = procedure?.id != null ? Number(procedure.id) : null;\nconst total_amount = procedure?.price != null ? Number(procedure.price) : null;\nconst order_number = gen?.order_number ?? '';\nconst room_number = procedure?.room_number ?? '';\nconst queue_number = gen?.queue_number ?? '';\nreturn [{ json: {\n  order_number,\n  user_id,\n  procedure_id,\n  total_amount,\n  room_number,\n  queue_number\n} }];"
      },
      "id": "prepare-order",
      "name": "Prepare Order Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO orders (order_number, user_id, procedure_id, status, total_amount, room_number, queue_number) VALUES ($1, $2, $3, 'pending', $4, $5, $6) RETURNING *",
        "additionalFields": {
          "queryParameters": "={{ [$json.order_number, $json.user_id, $json.procedure_id, $json.total_amount, $json.room_number, $json.queue_number] }}"
        }
      },
      "id": "create-order",
      "name": "Create Order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [950, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"order\": $json } }}",
        "options": {}
      },
      "id": "respond-order",
      "name": "Respond Order",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1150, 500]
    }
  ],
  "connections": {
    "List Procedures": {
      "main": [[
        { "node": "Get Procedures", "type": "main", "index": 0 }
      ]]
    },
    "Get Procedures": {
      "main": [[
        { "node": "Respond", "type": "main", "index": 0 }
      ]]
    },
    "Select Procedure": {
      "main": [[
        { "node": "Get Procedure Details", "type": "main", "index": 0 }
      ]]
    },
    "Get Procedure Details": {
      "main": [[
        { "node": "Generate Order & Queue Numbers", "type": "main", "index": 0 }
      ]]
    },
    "Generate Order & Queue Numbers": {
      "main": [[
        { "node": "Prepare Order Row", "type": "main", "index": 0 }
      ]]
    },
    "Prepare Order Row": {
      "main": [[
        { "node": "Create Order", "type": "main", "index": 0 }
      ]]
    },
    "Create Order": {
      "main": [[
        { "node": "Respond Order", "type": "main", "index": 0 }
      ]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "1"
}
